/* ---- */
/* MAIN */
/* ---- */
body {
  margin: 0;
  padding: 0;
  letter-spacing: 0.09rem;
  font-size: 0.8rem;
  color: var(--black);
  font-family: "Verdana", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --black: #333;
  --white: #f4f4f4;
}
::placeholder {
  padding-left: 0.5rem;
}
* {
  box-sizing: border-box;
}

/* ------------- */
/* CONTAINER APP */
/* ------------- */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1024px;
  margin: auto;
  padding: 1rem;
}
.content {
  flex-grow: 1;
}
footer {
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
}
input {
  height: 30px;
  padding-left: 0.5rem;
  outline: none;
  border: none;
  color: brown;
  border-bottom: 1px solid var(--black);
}
input:focus {
  border-bottom: 1px solid brown;
}
button {
  cursor: pointer;
  width: 100px;
  height: 50px;
  margin: auto;
  color: brown;
  border-radius: 0.5rem;
  border: none;
}
button:active {
  transform: translateY(2px);
}

/* ----------- */
/* NUMERO PROG */
/* ----------- */
.numero-container {
  display: grid;
  margin: auto;
  max-width: 300px;
  text-align: center;
  gap: 1rem;
}

/* ----- */
/* TITLE */
/* ----- */
.title-container {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: auto;
}
.title-title {
  color: brown;
  align-self: center;
}
.title-img {
  transform: scale(0.8);
}

.elenco-container {
  margin-top: 3rem;
}
.elenco-vuoto {
  text-align: center;
}


.elenco-li{
  font-size: small;
}
