/* ---- */
/* MAIN */
/* ---- */
body {
  margin: 0;
  padding: 0;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  color: var(--black);
  background-color: var(--sand);
  font-family: "Verdana", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --black: #333;
  --white: #f4f4f4;
  --sand: #dfcfbe;
  --blue: #98b4d4;
}
::placeholder {
  padding-left: 0.5rem;
}
* {
  box-sizing: border-box;
}

/* ------------- */
/* CONTAINER APP */
/* ------------- */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1024px;
  margin: auto;
  padding: 1rem;
}
.content {
  flex-grow: 1;
}
footer {
  text-align: center;
}
.footer-sponsor {
  font-size: 0.5rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
input {
  text-transform: lowercase;
  height: 30px;
  padding-left: 0.5rem;
  outline: none;
  border: none;
  background-color: var(--sand);
  border-bottom: 1px dotted var(--black);
  color: brown;
}
input:focus {
  border-bottom: 1px solid brown;
}
button {
  cursor: pointer;
  width: 100px;
  height: 50px;
  margin: auto;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--white);
  color: brown;
  font-weight: bold;
}
button:active {
  transform: translateY(2px);
}

/* ----- */
/* TITLE */
/* ----- */
.title-container {
  display: flex;
  position: relative;
  padding: 1rem;
  justify-content: space-around;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid var(--black);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.title-title {
  color: brown;
  align-self: center;
}
.title-date {
  position: absolute;
  top: 70px;
  padding: 0.5rem;
  background-color: var(--sand);
  border-radius: 0.5rem;
}
.title-img {
  width: 80px;
  justify-self: flex-end;
}

/* ----------- */
/* NUMERO PROG */
/* ----------- */
.numero-container {
  display: grid;
  place-content: center;
  max-width: 300px;
  margin: 2rem auto;
  gap: 1rem;
}
.numero-numero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  background-color: var(--blue);
  border-radius: 0.5rem;
}
.numero-btn-cerca {
  margin-left: 0.3rem;
}

/* ------ */
/* ELENCO */
/* ------ */
.elenco-container {
  margin-top: 2rem;
}
.elenco-vuoto {
  text-align: center;
}
.elenco-li {
  margin-top: 1.5rem;
  font-size: small;
  text-transform: lowercase;
}
.elenco-id {
  font-weight: bold;
  padding: 0.5rem;
  color: var(--white);
  background-color: brown;
  border-radius: 0.5rem;
}
